<ion-view hide-nav-bar="true" view-title="Login">
  <ion-content>
    <div>
      <!--<img src="img/a.png" alt="">-->
    </div>
    <div class="list">
      <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
      <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
      <button class="button button-full button-positive" ng-click="loginWithFacebook()">
        Login With Facebook
      </button>
    </div>
  </ion-content>
</ion-view>