/* Empty. Add your own CSS if you like */

#map{
    margin-top: 0px; 
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

.top{
    margin-top: 45px; 
}
.button{
    margin-left: 4px;
    margin-right: 4px; 
}

.bar{
    color:red;
}
.cent{
    text-align: center
}
.all-elements-center{
    text-align: center;
}

.form-elements{
    margin-top:30%;
}
.button.button-login{
    background-color: #2cc9b4 !important;
    width: 47%;  
    margin-top:5px;     
}

.button.button-signup{
    /*background-color: black !important;*/
    width: 47%; 
    margin-top:5px; 
}

.button.button-facebook-login{
    background-color: #4463b1 !important;
}
.login-heading{
    /*color:#2cc9b4;*/
}
.login-main-heading{
    margin-top:100px;    
}

.profile-image{
    border-radius: 50px;
}

.menu-profile-container{
    margin-lef: 30px; 
}

/*.red{
    background-color: red !important;
}

.green{
    background-color: green !important;
}
.blue{
    background-color: blue !important;
}
.pink{
    background-color: pink;
}
a.ion-item{
    background-color: purple !important;
}*/
.item-content{
    background-color: #f8f8f8 !important; 
   
  
}
.item.item-stable{
    border-color: red;
    border: 0px;
        /*background-color: black;*/   
   
}

.nav-title{
    color:green;   
}